// *** 폰트 크기 ***
$title-font-size: 38px;       // 제목
$sub-title-font-size: 20px;   // 본문 안의 제목
$text-font-size: 18px;        // 본문
$mini-text-font-size: 16px;   // 작은 본문


// *** 폰트 종류 ***
$kor-font: 'GangwonEduSaeeum_OTFMediumA';