@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

@keyframes logo-act {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../image/main_background.png) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
}

h1 {
    img {
        width: 300px;
        margin-top: 50px;
        text-align: center;

        animation: logo-act 2s linear infinite;
    }
}

.menu-box {
    display: flex;
    .menu {
        position: relative;
        width: 50%;
        margin-top: 150px;

        a {
            &:hover {
                transform:translateY(-10px);
                transition: 0.2s;
                p {
                    color: lightseagreen;
                }
            }
        }
    
        img {
            width: 15vw;
        }
    
        p {
            @include pos-center();
    
            color: white;
            font: {
                size: 3em;
                family: "BMJUA";
            }
        }
    }
}

.episode {
    margin-top: 100px;
    margin-left: 80px;
    padding-bottom: 30px;

    .episode-box {
        position: relative;
        width: 250px;
        
        a {
            &:hover {
                transform:translateY(-10px);
                transition: 0.2s;
                p {
                    color: lightseagreen;
                }
            }
        }
        
        p {
            position: absolute;
            top: 75px; left: 46px;
            line-height: 40px;
    
            font: {
                size: 35px;
                family: "BMJUA";
            }
        }
    }
}