@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

font {
    font-family: "GangwonEduSaeeum_OTFMediumA", "BMJUA";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

strong {
    display: block;
}

header,
nav,
main,
article,
section,
footer {
    display: block;
}