// *** 폰트 크기 ***
$title-font-size: 38px;       // 제목
$sub-title-font-size: 18px;   // 본문 안의 제목
$tab-font-size: 18px;         // 본문 안의 탭 메뉴
$sub-tab-font-size: 16px;     // 탭 안의 다시 탭 메뉴
$text-font-size: 16px;        // 본문
$mini-text-font-size: 13px;   // 작은 본문


// *** 폰트 종류 ***
$kor-font: 'GangwonEduSaeeum_OTFMediumA';