@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

@keyframes logo-act {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.container {
    position: relative;
    text-align: right;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 50px;
    
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../image/introduce_background.png) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -10;
    opacity: 0.8;
}

h1 {
    img {
        width: 200px;
        margin-top: 50px;
        margin-right: 50px;

        animation: logo-act 2s linear infinite;
    }
}


.menu {
    position: absolute;
    top: 0; left: 50px;

    .menu-box {
        position: relative;
        margin-top: 50px;

        &:hover {
            img {
                transform: scale(1.1);
                transition: 0.2s;
            }

            p {
                color: lightseagreen;
            }
        }

        img {
            width: 150px;
        }
    
        p {
            font: {
                size: 2.5em;
                family: "BMJUA";
            }
        }
    }
}

.title {
    @include pos-center-x();
    position: absolute;
    top: 80px;
    padding: 20px 30px;
    color: white;
    border-radius: 20px 20px 0 0 ;
    background-color: black;

    font: {
        size: 2.5em;
        weight: 300;
        family: 'BMJUA';
    }
}

.content {
    justify-content: center;
    margin-top: 0px;

    .introduce {
        position: relative;
        width: 800px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 10px solid black;
        border-radius: 20px;
        background-color: white;
        
        .character_box {
            &:not(.one) {
                display: none;
            }
        }

        .character {
            width: 700px;
            @include pos-center();
        }

        .flex-box {
            display: flex;

            img {
                display: inline-block;
            }
    
            .text-box {
                position: relative;
            }
    
            .intro-text {
                @include pos-center-y();
                width: 450px;
                margin-left: 70px;
                text-align: left;
    
                strong {
                    margin-bottom: 20px;
                    font: {
                        size: 60px;
                    }
                }
    
                p {
                    font: {
                        size: 30px;
                    }
                }
            }

        }

    } // introduce

    .list {
        display: flex;
        justify-content: center;

        .list-box {
            position: relative;
            width: 530px;
            height: 340px;
            margin-right: 50px;
            border: 10px solid black;
            border-radius: 20px;
            background-color: white;

            &:nth-child(2) {
                width: 400px;
            }

            &:nth-child(3) {
                width: 230px;
            }
            
            h2 {
                text-align: left;
                margin: 12px;
                font: {
                    size: 2rem;
                    weight: 300;
                    family: 'BMJUA';
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    height: 10%;
                    margin: 10px;
    
                    a {
                        position: relative;
                        width: 100px;
                        height: 100px;
                        // border: 8px solid lightseagreen;
                        border-radius: 50%;
                        background-color: black;

                        &:hover {
                            transform: scale(1.05);
                            transition: 0.2s;
                            background-color: lightseagreen;
                        }
    
                        img {
                            @include pos-center();
                            width: 100px;
                            padding: 15px;
                            
                        }
                    }
                } // li
            } // ul

            .friend {
                li {
                    height: 10%;
                    margin: 10px;
    
                    a {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        // border: 8px solid lightseagreen;
                        border-radius: 50%;
                        background-color: black;
    
                        img {
                            @include pos-center();
                            width: 150px;
                            padding: 15px;
                            
                        }
                    }
                } // li
            }
        } // list-box
    } // list

    
} // modal